img {
  height: 200px;
  border-radius: 50%;
}

body {
  margin: 0;
  cursor: url("./images/plus-outline.png"), pointer;
}
/* 
p, h3, a {
  color: blueviolet;
  font-size: 30px;
} */
#navbar {
  background-color: #ededed;
  padding: 20px;
}

.navlink {
  color: black;
  text-decoration: none;
  cursor: url("./images/plus-outline.png"), pointer;
  margin-left: 10px;
  text-transform: uppercase;
}

.navlink:hover {
  text-decoration: underline;
  font-weight: 600;
}

#estimate {
  border: 1px solid black;
  border-radius: 20px;
  color: #fd4601;
  background-color: #ededed;
  padding: 10px 18px;
  text-transform: uppercase;
  font-weight: bold;
}

#estimate:hover {
  color: white;
  background-color: red;
  cursor: pointer;
}
/* descendent combinator */
/* .box h2{
  color: red;
} */

/* child combinator */
.box > p {
  color: blue;
}

.box + p {
  color: green;
  font-size: 30px;
}

#text {
  text-align: justify;
  line-height: 40px;
  word-spacing: 5px;
  letter-spacing: 2px;
}
